{% extends 'cryptapp/base.html'%}
{% block body %}


<div class="about">
    <h3>About Cryptography</h3>
    <P>Cryptography is the field of technologies for making the information secure. It tries to secure, encrypt the information in such a way that a third party who has access to the hidden, encrypted, data cannot reconstruct, decrypt, the original information. In more practical terms, the encryption methods apply a certain function, algorithm or a routine to information so that it‟s no longer accessible as it was original. With the right key, that was determined before encrypting the data and the corresponding algorithm, function or routine for decrypting the information, the original information can be recovered.</P>
    <ul>There are two main types of cryptography:
        <li> Secret key cryptography </li>	 
        <li> Public key cryptography  </li>	 
    </ul>
    <p>In simple words, Data Compression refers to the technique of storing data in a format that requires less space than it takes usual. Compression is the reduction in size of data in order to save space and transmission time. For data transmission, compression can be performed on the data content. Data Content compression can be as simple as removing all extra space characters, inserting a single repeating character to indicate a sequence of repeated characters, and substituting or replacing smaller bit strings for frequently occurring characters</p>
	

</div>
{% endblock %}
</div>
</html>